# First print your name in the cell below then save this file. (or something nice about your instructor)

In [1]:
# In this cell print your name 
print("Sebastian Ramos")

Sebastian Ramos

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [2]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [4]:
# Load data here

df_listing = pd.read_csv("../data/listings.csv")
df_listing.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [10]:
# 1. How many listings are there with a price less than 100? 

condition1 = df_listing['price'] < 100
less_than_100 = df_listing[condition1]
less_than_100.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340
5,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,75,2,118,2017-07-21,0.89,1,0
8,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,88,4,180,2020-03-18,1.31,3,344

In [11]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.

condition2 = df_listing['neighbourhood_group'] == "Brooklyn"
df_bk = df_listing[condition2]
df_bk.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295
8,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,88,4,180,2020-03-18,1.31,3,344
11,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,109,2,181,2020-03-16,1.32,1,0

In [13]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.
df_new = df_listing[condition1 & condition2]
df_new.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
8,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,88,4,180,2020-03-18,1.31,3,344
21,10452,Large B&B Style rooms,35935,Angela,Brooklyn,Bedford-Stuyvesant,40.68310,-73.95473,Private room,70,3,75,2019-10-12,0.60,2,365
22,10962,"Lovely Room 2; Garden; Best area, Legal",9744,Laurie,Brooklyn,South Slope,40.66869,-73.98780,Private room,88,4,180,2020-08-03,1.36,3,365

In [14]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names

list_of_names = ['Michael', 'David', 'John', 'Daniel']
host_name_cond = df_listing.host_name.isin(list_of_names)
df_listing[host_name_cond].head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
52,16595,LOFT HAVEN ~ Six Windows ~ Bricks ~ Plants ~ Q...,64522,Daniel,Brooklyn,Williamsburg,40.70933,-73.96792,Entire home/apt,271,1,172,2020-07-14,1.44,1,365
201,61747,"Cozy, Brooklyn, Prospect Park Studio",299370,David,Brooklyn,Prospect-Lefferts Gardens,40.65979,-73.96180,Entire home/apt,91,14,97,2018-01-31,0.83,1,44
209,62903,Beautiful modern studio apartment in heart of NYC,306605,Daniel,Manhattan,Chelsea,40.74238,-73.99567,Entire home/apt,205,15,68,2019-12-14,0.67,2,89
220,64015,Prime East Village 1 Bedroom,146944,David,Manhattan,East Village,40.72807,-73.98594,Entire home/apt,200,3,0,NaN,NaN,1,0
260,74073,Food & Music Dream Apartment in Williamsburg,211877,Daniel,Brooklyn,Williamsburg,40.71113,-73.96054,Entire home/apt,187,30,90,2020-07-31,0.81,1,261

In [21]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 

df_listing["adjusted_price"] = np.where(
    df_listing["neighbourhood"] == "Williamsburg",
    df_listing["price"] + 100,
    df_listing["price"]
)

df_listing.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,adjusted_price
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365,175
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265,75
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365,60
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295,175
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340,65

In [39]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  

# Total listings
summed = df_listing["room_type"].value_counts(normalize=True)
print(summed)

room_type
Entire home/apt    0.515787
Private room       0.454446
Shared room        0.021213
Hotel room         0.008554
Name: proportion, dtype: float64

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [36]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.

listings = df_listing.groupby("neighbourhood_group").size()
print(listings)

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
dtype: int64

In [37]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 

listings = df_listing.groupby("neighbourhood_group")['price'].mean()
print(listings)

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [38]:
# 2.5. Using `groupby`, find the mean price for each room_type. 
listings = df_listing.groupby("room_type")['price'].mean()
print(listings)

room_type
Entire home/apt    199.395950
Hotel room         275.015075
Private room        91.453084
Shared room         87.063830
Name: price, dtype: float64

In [40]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 
listings = df_listing.groupby("neighbourhood_group")['price'].agg(['min','max'])
print(listings)

                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

In [45]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.
listings = df_listing.groupby(["neighbourhood_group", "room_type"])["price"].mean()
print(listings)

neighbourhood_group  room_type
Bronx                Entire home/apt    138.004819
                     Private room        68.419668
                     Shared room         66.391304
Brooklyn             Entire home/apt    171.587687
                     Hotel room         147.300000
                     Private room        71.291189
                     Shared room         57.870091
Manhattan            Entire home/apt    231.335572
                     Hotel room         292.515670
                     Private room       128.277069
                     Shared room        111.735084
Queens               Entire home/apt    150.168900
                     Hotel room         139.058824
                     Private room        69.972564
                     Shared room         89.891892
Staten Island        Entire home/apt    151.720930
                     Private room        70.312883
                     Shared room         46.000000
Name: price, dtype: float64

In [46]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.
listings = df_listing.groupby(["neighbourhood_group","room_type"])['price'].agg(['min','max','mean','std'])
print(listings)

                                     min    max        mean         std
neighbourhood_group room_type
Bronx               Entire home/apt   25   1404  138.004819  126.032106
                    Private room      16    700   68.419668   57.337866
                    Shared room       20    800   66.391304  114.442703
Brooklyn            Entire home/apt   20  10000  171.587687  236.732843
                    Hotel room         0    399  147.300000   91.153206
                    Private room      10   2500   71.291189   69.023165
                    Shared room       15   1500   57.870091   92.217618
Manhattan           Entire home/apt    0  10000  231.335572  410.306439
                    Hotel room         0   2211  292.515670  315.924085
                    Private room      10  10000  128.277069  448.677306
                    Shared room       10  10000  111.735084  502.728868
Queens              Entire home/apt   10  10000  150.168900  252.606739
                    Hotel room         0    249  139.058824   50.743806
                    Private room      18   9000   69.972564  163.814468
                    Shared room       14   3000   89.891892  275.675158
Staten Island       Entire home/apt   39   1200  151.720930  147.518392
                    Private room      20    800   70.312883   70.759593
                    Shared room       19     82   46.000000   28.446441

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [48]:
# 1. Load the `prices.csv` and the `n_listings.csv`
df_prices = pd.read_csv("../data/prices.csv")
df_listings = pd.read_csv("../data/n_listings.csv")

In [51]:
# 2. Do join that keeps all the records for each table.
dfjoined = pd.merge(df_prices, 
                    df_listing, 
                    on='neighbourhood_group', 
                    how='left')

dfjoined

,neighbourhood_group,mean_price,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,adjusted_price
0,Bronx,92.751479,44096,Room with a View,190409,Waundell,Highbridge,40.83232,-73.93184,Private room,50,1,277,2020-02-25,2.29,3,364,50
1,Bronx,92.751479,45935,Room in Beautiful Townhouse.,204586,L,Port Morris,40.80640,-73.92395,Private room,60,3,0,NaN,NaN,1,83,60
2,Bronx,92.751479,54626,Cozy bedroom by Yankee Stadium,190409,Waundell,Highbridge,40.83075,-73.93058,Private room,55,1,181,2020-03-06,1.66,3,364,55
3,Bronx,92.751479,63588,LL3,295128,Carol Gloria,Clason Point,40.81309,-73.85514,Private room,89,2,0,NaN,NaN,7,270,89
4,Bronx,92.751479,63610,DOMINIQUE'S NY mini efficiency pad* SANITIZED*...,310670,Vie,Eastchester,40.88100,-73.83511,Entire home/apt,102,2,44,2020-06-28,0.49,9,363,102
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46522,Staten Island,110.947214,44288244,Huge Private Room/Suite @ Ferry.,117492425,Dine,St. George,40.64602,-74.07896,Private room,49,4,0,NaN,NaN,8,365,49
46523,Staten Island,110.947214,44322571,Rosebank Townhome,299411542,Karen,Clifton,40.61847,-74.06974,Private room,300,1,0,NaN,NaN,2,179,300
46524,Staten Island,110.947214,44322911,Oakwood Room,299411542,Karen,Oakwood,40.56436,-74.13019,Private room,150,1,0,NaN,NaN,2,179,150
46525,Staten Island,110.947214,44415969,Style Home away from home,121399223,Weifeng(Daniel),Tompkinsville,40.63380,-74.08298,Entire home/apt,160,1,1,2020-08-02,1.00,3,365,160
46526,Staten Island,110.947214,44574046,Home away from home,356621108,Andrew,Howland Hook,40.63348,-74.16950,Entire home/apt,250,1,0,NaN,NaN,1,14,250

In [53]:
# 3. Save your joined csv as `joined.csv` into the data folder. 
dfjoined.to_csv("../data/joined.csv", index=False)

In [55]:
# 4. Load your newly saved file, see if it looks the same.  If not, try saving with argument `index=False`
df_joined = pd.read_csv('../data/joined.csv')
df_joined

,neighbourhood_group,mean_price,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,adjusted_price
0,Bronx,92.751479,44096,Room with a View,190409,Waundell,Highbridge,40.83232,-73.93184,Private room,50,1,277,2020-02-25,2.29,3,364,50
1,Bronx,92.751479,45935,Room in Beautiful Townhouse.,204586,L,Port Morris,40.80640,-73.92395,Private room,60,3,0,NaN,NaN,1,83,60
2,Bronx,92.751479,54626,Cozy bedroom by Yankee Stadium,190409,Waundell,Highbridge,40.83075,-73.93058,Private room,55,1,181,2020-03-06,1.66,3,364,55
3,Bronx,92.751479,63588,LL3,295128,Carol Gloria,Clason Point,40.81309,-73.85514,Private room,89,2,0,NaN,NaN,7,270,89
4,Bronx,92.751479,63610,DOMINIQUE'S NY mini efficiency pad* SANITIZED*...,310670,Vie,Eastchester,40.88100,-73.83511,Entire home/apt,102,2,44,2020-06-28,0.49,9,363,102
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46522,Staten Island,110.947214,44288244,Huge Private Room/Suite @ Ferry.,117492425,Dine,St. George,40.64602,-74.07896,Private room,49,4,0,NaN,NaN,8,365,49
46523,Staten Island,110.947214,44322571,Rosebank Townhome,299411542,Karen,Clifton,40.61847,-74.06974,Private room,300,1,0,NaN,NaN,2,179,300
46524,Staten Island,110.947214,44322911,Oakwood Room,299411542,Karen,Oakwood,40.56436,-74.13019,Private room,150,1,0,NaN,NaN,2,179,150
46525,Staten Island,110.947214,44415969,Style Home away from home,121399223,Weifeng(Daniel),Tompkinsville,40.63380,-74.08298,Entire home/apt,160,1,1,2020-08-02,1.00,3,365,160
46526,Staten Island,110.947214,44574046,Home away from home,356621108,Andrew,Howland Hook,40.63348,-74.16950,Entire home/apt,250,1,0,NaN,NaN,1,14,250

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.